<md-card class="row">
  <md-card-title>
    Currently in <span *ngIf="location" >{{location.name}}</span><span *ngIf="cityInput">{{cityInput}}</span>
  </md-card-title>
  <hr>
  <md-card-content>
    <div class="container">
    <div class="row">
      <div class="center col-12">
        <canvas #skycon height="200px" width="200px"></canvas>
        <div *ngIf="current" >
          <h1>{{current.summary}}</h1>
          <h3>Temperature: {{current.temperature}}&deg;F</h3>
          <h4 [ngClass]="{'cold': current.apparentTemperature - current.temperature < -3,
                      'hot': current.apparentTemperature - current.temperature > 3}">Feels Like: {{current.apparentTemperature}}&deg;F</h4>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="current">
      <div class="col-xs-12 col-sm-6 text-center">
        <h4>Wind: {{castDeg(current.windBearing)}} {{current.windSpeed}}
          <span *ngIf="current.windGust > 20 || current.windGust - current.windSpeed > 10">G {{current.windGust}}</span>
        </h4>
        <h4>Cloud Cover: {{current.cloudCover * 100}}%</h4>
        <h4>Visibility: {{current.visibility}} mi</h4>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <h4>Dewpoint: {{current.dewPoint}}&deg;F</h4>
        <h4>Humidity: {{current.humidity}}%</h4>
        <h4>Pressure: {{current.pressure}} mb</h4>
      </div>
    </div>

    </div>
    <p>Current Conditions <a href="https://darksky.net/poweredby/">Powered by DarkSky</a></p>
  </md-card-content>
</md-card>
